<div id="<%= dom_id agendamento %>">
  <p>
    <strong>Cliente:</strong>
    <%= agendamento.cliente_id %>
  </p>

  <p>
    <strong>Funcionario:</strong>
    <%= agendamento.funcionario_id %>
  </p>

  <p>
    <strong>Servico:</strong>
    <%= agendamento.servico_id %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= agendamento.horario %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= agendamento.status %>
  </p>

</div>
