<%= form_with(model: agendamento, local: true) do |form| %>

  <% if current_usuario.cliente? %>
    <%= form.hidden_field :cliente_id, value: current_usuario.id %>
    <div class="mb-3">
      <label class="form-label">Cliente</label>
      <input type="text" class="form-control" value="<%= current_usuario.nome %>" readonly>
    </div>
  <% else %>
    <div class="mb-3">
      <%= form.label :nome_cliente_convidado, "Nome do Cliente (convidado)", class: "form-label" %>
      <%= form.text_field :nome_cliente_convidado, class: "form-control" %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :funcionario_id, "Funcionário", class: "form-label" %>
    <%= form.collection_select :funcionario_id, Usuario.funcionario, :id, :nome, prompt: "Selecione um funcionário", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :horario, class: "form-label" %>
    <%= form.datetime_field :horario, class: "form-control" %>
  </div>
 <!-- FALTA AJUSTAR O SELECT 2 -->
  <div class="mb-3">
    <%= form.collection_select :servico_id, Servico.all, :id, :nome,
      { prompt: "Selecione um serviço" },
      { class: "form-select", data: { controller: "select2" } } %>
  </div>

  <div class="d-grid">
    <%= form.submit "Salvar Agendamento", class: "btn btn-success" %>
  </div>
<% end %>
