<%= form_with(model: agendamento, data: { controller: "agendamento" }) do |f| %>
  <% if turbo_frame_request? %>
    <div class="modal-header">
      <h5 class="modal-title"><%= agendamento.new_record? ? "Novo" : "Editar" %> Agendamento</h5>
      <button type="button" class="btn-close" data-action="modal#close"></button>
    </div>
    <div class="modal-body">
      <%= render "agendamentos/campos", f: f, agendamento: agendamento %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Salvar", class: "btn btn-success" %>
    </div>
  <% else %>
    <div class="card">
      <div class="card-body">
        <%= render "agendamentos/campos", f: f, agendamento: agendamento %>
      </div>
      <div class="card-footer">
        <%= f.submit "Salvar", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
<% end %>
